*.o
*.pico
*.dSYM
*.exe
*-uninstalled.pc

hfile_*.bundle
hfile_*.cygdll
hfile_*.dll
hfile_*.so

cyg*.dll
lib*.a
lib*.dll
lib*.dylib
lib*.so
lib*.so.*

/bgzip
/htsfile
/tabix
/test/fieldarith
/test/hfile
/test/sam
/test/test-regidx
/test/test-vcf-api
/test/test-vcf-sweep
/test/test_view
/test/*.tmp
/test/*.tmp.*

/TAGS
